{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Expense for {{expense.name}}</h1>

        Amount: ${{ expense.amount }} <br>
        Date Created: {{ expense.date}} <br><br>
        
        <table style="width:30%">
        <tr>
            <td>Name: </td>
            <td>Amount: </td>
        </tr>
        {% for exp in userExpenses %}
        <tr>
            <td>{{exp.user.username}}</td>
            <td>{{exp.amount}}</td>
        </tr>
        {%endfor%}
        </table>
        <a href="{% url 'index' %}">Return to dashboard</a>
    </div>
{% endblock %}